{
	"presets": [
        ["@babel/preset-env", {
            "modules": "commonjs"
        }],
        "@babel/preset-react"
    ],
	"plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-syntax-dynamic-import",
        ["@babel/plugin-transform-runtime", { "regenerator": true }],
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-proposal-export-default-from",
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": true }]
    ]
}