<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>loadcss</title>
</head>
<body>
    <div class="container">
        <div>1</div>
        <div>2</div>
        <div>3</div>
    </div>
    <div class="main">
        <div>1</div>
        <div>2</div>
        <div>3</div>
    </div>
    <div class="img"></div>
    <div id="root"></div>
    <div class="header"></div>
</body>
</html>