<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>测试</title>
</head>

<body>
    <h1>你好啊, 特朗普</h1>
    <img src="/api/demo/image?filename=user.jpg" alt="">
    <form action="http://localhost:3000/fetch/getData" method="GET">
        <button type="submit">发起请求</button>
    </form>
</body>

</html>
