.bg {
    background: url('../assets/BG.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.header {
    height: 10%;
    display: flex;
    align-items: center;
}
.left {
    width: 28%;
    display: flex;
    justify-content: space-evenly;
    .leftMenu {
        background: url(../assets/left_menu.png) no-repeat;
        background-size: contain;
        background-position: center;
        font-size: 16px;
        width: 92px;
        height: 45px;
        line-height: 45px;
        text-align: center;
    }
}

.middle {
    width: 44%;
}
.right {
    width: 28%;
    display: flex;
    justify-content: space-evenly;
    .rightMenu {
        background: url(../assets/right_menu.png) no-repeat;
        background-size: contain;
        background-position: center;
        font-size: 16px;
        text-align: center;
        width: 124px;
        height: 45px;
        line-height: 45px;
    }
}