<!DOCTYPE html>
<html>
  <head>
    <title>fetch</title>
    <link rel='stylesheet' href='/stylesheets/layout.css' />
  </head>
  <body>
    <h1>fetch</h1>
    <from>
      <input type='file' id='fileInput' name='fileContent'/>
    </form>
    <button onclick="getMockData()">请求mock</button>
      <button onclick="getEsData()">请求es</button>
    <script src='/bower_components/jquery/dist/jquery.js'></script>
    <script src='/bower_components/lodash/dist/lodash.js'></script>
    <script src='/javascripts/util.js'></script>
    <script src='/javascripts/file.upload.js'></script>
    <script src='/javascripts/mock.js'></script>
  </body>
</html>
