<!DOCTYPE html>
<html>
  <head>
    <title>web worker</title>
    <link rel='stylesheet' href='/stylesheets/layout.css' />
  </head>
  <body>
    <h1>web worker</h1>
    <script type="text/javascript" src="/javascripts/webWorker.js"></script>
  </body>
</html>
