// color-white
$white: #fff;
$white-1: #eee;
$white-2: #989898;
$white-3: #6b6b6b;

// color-red
$red-1: #fff6f6;

// color-blue
$blue-1: #e1f0ff;

// color-green
$green-1: #f5fff3;

// color-yellow
$yellow-1: #ffffda;

$bg-color: $white;
$bg-color1: $red-1;
$bg-color2: $blue-1;
$bg-color3: $green-1;
$bg-color4: $yellow-1;

// height
$height-base: 52rpx;
$height-lg: 70rpx;
$height-sm: 46rpx;

// radius
$border-radius-sm: 22rpx;
$border-radius-lg: 54rpx;
$border-radius-base: 28rpx;

// font size
$font-size: 30rpx;
$font-size-lg: 40rpx;
$font-size-sm: 20rpx;