<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div class="container">
        <div>点击下方按钮进行程序的下载并安装</div>
        <div><button class="btn">下载</button></div>
    </div>
  </body>
</html>