<!DOCTYPE html>
<html>
  <head>
    <title>fetch</title>
    <link rel='stylesheet' href='/stylesheets/layout.css' />
  </head>
  <body>
    <h1>fetch</h1>
    <from>
      <input type='file' id='fileInput' name='fileContent'/>
    </form>
    <script src='/components/jquery/dist/jquery.js'></script>
    <script src='/components/lodash/dist/lodash.js'></script>
    <script src='/javascripts/util.js'></script>
    <script src='/javascripts/file.upload.js'></script>
  </body>
</html>
