<!DOCTYPE html>
//test.manifest || manifest.appcache
<html manifest="test.manifest">
  <head>
    <title>manifest</title>
    <link rel='stylesheet' href='/stylesheets/layout.css' />
  </head>
  <body>
    <h1>manifest</h1>
  </body>
</html>
