<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>测试</title>
</head>

<body>
    <h1>你好啊, 特朗普</h1>
    <div id="token"><%= token %></div>
    <button onclick="testJwt()">点我</button>
    <script>
        function testJwt() {
            const token = document.getElementById("token");
            fetch("http://localhost:3000/api/demo/getJwt", {
                method: "GET",
                headers: {
                    Authorization: "Bearer " + token.innerText
                }
            })
            .then(res => res.json())
            .then(res => {
                alert(JSON.stringify(res));
            });
        }
    </script>
</body>

</html>
