.container {
    margin-top: 20px;
    display: flex;
}

.left {
    width: 25%;
}

.middle {
    width: 50%;
    .num {
        font-size: 20px;
        font-weight: bold;
    }
    .statics {
        display: flex;
        justify-content: space-evenly;
        padding: 15px 0;
        border: 1px solid #6f6f6f;
    }
}

.right {
    width: 25%;
}