.container {
    padding: 20px;
    display: flex;
}

.left {
    width: 485px;
}

.middle {
    flex: 1;
    margin: 0 10px;

    .mdUp {
        display: flex;
    }

    .mdLeft {
        border: 1px solid #2f476a;
        width: 200px;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        margin-right: 10px;
    }

    .mdRight {
        display: flex;
        flex: 1;
        justify-content: space-evenly;
        padding: 10px 0;
        border: 1px solid #2f476a;
        height: 170px;
    }
    
    .mdTime {
        display: flex;
        justify-content: center;
        font-size: 26px;
        padding: 10px 0;
        font-style: italic;
    }

    .num {
        font-size: 20px;
        font-weight: bold;
    }

    .mapContainer {
        position: relative;
    }
    .mapTime {
        position: absolute;
        left: 60px;
        top: 60px;
    }
}

.right {
    width: 485px;
}

.c1 {
    display: flex;
    margin-bottom: 20px;
}
.c2 {
    padding: 3px 6px;
    background: #172b48;
    color: #4f607b;
    margin-right: 5px;
    border: 1px solid #3e699c;
}
.c3 {
    padding: 3px 6px;
    background: #4679af;
    color: #fff;
    margin-right: 5px;
}
.c4 {
    display: flex;
    flex-direction: column;
}
.c5 {
    position: relative;
    height: 63px;
}
.c6 {
    background: #263e5e;
    color: #fff;
    border-radius: 15px;
    width: 65px;
    padding: 3px 0;
    text-align: center;
    border: 2px solid #8aa9d2;
    position: absolute;
    top: 0;
    left: 30px;
}
.c7 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #8aa9d2;
    padding: 3px;
    position: absolute;
    left: 0;
    top: 8px;
}
.c8 {
    width: 5px;
    height: 5px;
    background: #8aa9d2;
    border-radius: 50%;
}
.c9 {
    width: 1px;
    height: 45px;
    border: 2px dashed #476892;
    position: absolute;
    left: 5px;
    top: 24px;
}
.c10 {
    background: transparent;
    color: #8e99a6;
    border-radius: 15px;
    width: 65px;
    padding: 3px 0;
    text-align: center;
    border: 2px solid #4f6b8c;
    position: absolute;
    top: 0;
    left: 30px;
}
.c11 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #4f86c5;
    padding: 3px;
    position: absolute;
    left: 0;
    top: 8px;
    background: #376190;
}
.c12 {
    display: flex;   
    justify-content: space-evenly;
}
.c13 {
    display: flex;
    // border-radius: 10px;
    // border: 2px solid #1ac5ea; 
    padding: 8px 25px;
    align-items: center;
    font-size: 16px;
    margin-right: 15px;
    background: url(../../assets//1.png) no-repeat;
    background-size: contain;
}
.c14 {
    width: 6px;
    height: 6px;
    background: #47fbc1;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px;
    margin-right: 15px;
}
.c15 {
    display: flex;
    border-radius: 20px;
    border: 1px solid #475671; 
    padding: 6px 25px 8px 25px;
    align-items: center;
    font-size: 16px;
    margin-right: 15px;
}
.c16 {
    .c14;
    background: #ffdf48;
}
.c17 {
    display: flex;
    margin-bottom: 25px;
}
.c18 {
    background: url(../../assets/3.png) no-repeat;
    padding: 0px 17px;
    font-size: 16px;
    background-size: cover;
    width: 169px;
    height: 27px;
    color: #334252;
    cursor: pointer;
}
.c19 {
    background: url(../../assets/4.png) no-repeat;
    background-size: cover;
    width: 107px;
    height: 27px;
    padding: 0 20px;
    font-size: 16px;
    color: #334252;
    cursor: pointer;
}
.c20 {
    background: url(../../assets/5.png) no-repeat;
    background-size: cover;
    width: 139px;
    font-size: 16px;
    padding: 0 20px;
    color: #334252;
    cursor: pointer;
}
.c21 {
    background-image: linear-gradient(to bottom, #335076 45%, transparent 45%, transparent 55%, #335076 55%, #335076 100%);
    background-repeat: no-repeat;
    padding: 0 10px 0 5px;
    margin: 0 3px;
}
.c22 {
    color: #fff;
}
.c23 {
    width: 140px;
    height: 145px;
    padding: 10px;
    &:hover {
        background: #263340;
        border-radius: 10px;
    }
}
.c24 {
    font-size: 16px;
    color: #66b1d8;
    font-weight: bold;
}
.c25 {
    font-size: 12px;
    color: #66b1d8;
}
.c26 {
    display: flex;
}
.c27 {
    width: 90px;
    color: #cfd2d7;
}
.c28 {
    color: #e8eef6;
    font-size: 16px;
}